*{
	border-collapse: collapse;
}



td,tr{
	border-left:1px solid black;
	border-right:1px solid black;
	height: 30px;
	background-color:#B9EFA0;
}


th{
	border:1px solid black;
	background-color:#6E9F55;
}

th,td,tr{
	
	text-align: center;
	vertical-align: middle;
	padding:15px;
	
}
table{
	border:1px solid black;
	
}

#total2{
	background-color:white;
}

.total{
	border-bottom:1px solid black;
	background-color:#B9EFA0;
	font-weight:bold;
}



.top{
	border-top:1px solid black;
}